<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout :: cabecalho}"></head>

<body>
<nav th:replace="~{layout :: menu}"></nav>

<div class="container">
    <h2>Lista de Eventos</h2>
    <hr>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Data</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="evento : ${events}">
            <td th:text="${evento.name}">Nome Exemplo</td>
            <td th:text="${evento.description}">Descricao</td>
            <td th:text="${evento.startDate}">Data</td>
            <td>
                <a th:href="@{/events/{id}(id=${evento.id})}" class="btn btn-sm btn-info text-white">
                    📄 Detalhes
                </a>

                <a th:href="@{/events/delete/{id}(id=${evento.id})}"
                   class="btn btn-sm btn-danger"
                   onclick="return confirm('Tem certeza que deseja excluir este evento?')">
                    Excluir
                </a>
            </td>
        </tr>
        <tr th:if="${#lists.isEmpty(events)}">
            <td colspan="3">Nenhum evento encontrado.</td>
        </tr>
        </tbody>
    </table>

    <a href="/events/new" class="btn btn-primary mt-3">Novo Evento</a>
</div>

<footer th:replace="~{layout :: rodape}"></footer>
</body>
</html>