<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: cabecalho}"></head>
<body>
<nav th:replace="~{layout :: menu}"></nav>

<div class="container mt-4">
    <h2>Cadastro de Participante</h2>
    <hr>
    <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
        <span th:text="${error}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <form th:action="@{/participants/save}" th:object="${participant}" method="post">
        <div class="mb-3">
            <label class="form-label">Nome Completo</label>
            <input type="text" class="form-control" th:field="*{name}" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" th:field="*{email}" required>
        </div>

        <button type="submit" class="btn btn-success">Salvar</button>
        <a href="/participants" class="btn btn-secondary">Cancelar</a>
    </form>
</div>

<footer th:replace="~{layout :: rodape}"></footer>
</body>
</html>